doctype 5
//
  | 
  |COLLABORATORS:None
  | Look at src/jade for more readable html
html
  head
    include head
  body
    div.container
      include main
    script(src="lib/jquery-1.7.1.min.js")
    script(src="lib/hogan-1.0.5.js")
    script(src="lib/compat.js")
    script(src="lib/dicts.json")
    script(src="translate_game.js")